## PYTHON INTRODUCTION -  (TASK - 1)
* I hope everybody install Anconda software which i share to you guys right
* Just wanted to know how many of know any programming language
* If you dont know any programming language then you are the best person to learn PYTHON 
* python is very easy language
* what is python? Ans - python is highly recommanded programming language & object oriented language
* Father of python - Guido van Rosam
* Python came from fun tv show called ''complete monty python's flying circus'' - broadcasted in BBC channel 
* Python - procudeure oriented progrmming language, functional programming language, object oriented programming language,scripting language,modular programming language
* Python borrowed all concept from c,c++,java,unix ( so python is everything) thats why python very very powerfull tool
* Python developed in NRI - (Netherland) & lot of people say that python is new language
* Java released on 1995. python was released on 1989 officialy released on (feb 20th 1991)

* Now python is very popular based on software industry requirment because everybody wants to write very less code/concile code
* Current market trend is - Machine learing, Artificial intelligence, data science & Iot(Internet of things)
* which companies are used python - google,nasa,uber,netfliz,reddit,facebook, everywhere python used everywhere
* python code can understand everybody & python is dynamic programming language
* In python everything done by PVM (python virtual machine)
* you can access python in any platform independent- windows, linux, mac one code can run in all the 4 platform & no need to   write separate programe for every platform. Once you write code you can run in platform
* Python is dynamically programming language (not required to declared data types)
* Python is freeware and open source. Moving from one platform to other platform without changeing any code
* Python contains rich libray - numpy,pandas so python is the best application for datascience
* which scenario python can't be used - ( python can not perform in mobile application like android )
* Flavours of python - cpython(C programming),jpython(java programming),Iron python(c#.net),Ruby python(Ruby based application   programme),Anaconda python(Bigdata,datascience)
* Python 1.0 introduce in jan 1994 -- Noorganization is working now
* Python 2.0 introduce in oct 2000 -- Noorganization is working now
* Python 3.0 introduce in Dec 2008 -- latest version - 3.6, 3.6, 3.7, 3.8

In [20]:
import sys
sys.version

'3.9.7 (default, Sep 16 2021, 08:50:36) \n[Clang 10.0.0 ]'

In [21]:
a = 7.9
a

7.9

### PYTHON IDENTIFIER / variable / object  --
* There is a person whose name - Multiple names are to identify person.so finally the   Name which can be used for identification purpose.
* Name in the python programme is called IDENTIFIER (x = 10) (X - identifier)

*'''  
     
* Nameing ceremoney we have some rules to naming a child . e.g - Gods name,Ancestor Name,have to do     some R & D. you cannot keep the child name as - Cat or dog right.. so parent have to follow some     rule and keep their child naming ceremony.

*Rules to define Python Identifier & we will check those rules ==

<1 Alphabet (uppercae & lowercase)
 <2> Digits (0-9) # should not stat with digit
  <3> underscore(_)

In [22]:
#x = 10 # x is the variable & 10 is thealue
#cash = 10 # Identifier ruls alphabet
ca$h = 10 # $ - symbole is not allowed in python identifier but in java is allowed
ca$h
#cash

SyntaxError: invalid syntax (828119008.py, line 3)

In [ ]:
# <2> Identifiers should not starts with dight ====
#sum123 = 20 # Digit rules identifier
123total = 30
123total
#sum123

In [ ]:
# <3> Identifiers are case sensitive
#total = 10 # Python are case sensitive
TotAL = 20
#total
TotAL

In [ ]:
total = 10
TOTAL

In [ ]:
TOTAL = 20
TOTAL

In [23]:
def = 4.6

SyntaxError: invalid syntax (1751388722.py, line 1)

In [ ]:
DEF = 5.6
DEF

In [ ]:
# <4> Keywords can not be assigned as identifier
#if = 10   # if is keyword
DEF = 20  # def is keyword
#for = 50
DEF

In [ ]:
def = 30
def

In [ ]:
if = 30
if

In [ ]:
IF = 56
IF

In [24]:
if = 60
if

SyntaxError: invalid syntax (2219948675.py, line 1)

In [ ]:
# 5> NO length limit in python Identifier
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwxxxxxxxx = 10
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwxxxxxxxx

In [ ]:
_abc_def_gef  = 10
_abc_def_gef

* Q & A for valid / Invalid identifier - 
1>123AMXwAM 
2>AmxWam123
3>ml2ai
4>_abc_def_gef (( # ))
5>def
6>else
7>ELSE

* ----- RULES OF PYTHON IDENTIFIER ------
1> A to Z, a to z, 0 - 9
2> Doesnot starts with digt
3> Case sensitive
4> Reserved words or keywords cannot be a identifier
5> Identifier cannot have a lenght limit
6> _ only allowed


* ========================= WE LEARNT ABOUT PYTHON IDENTIFIER IN DETAILS ============================

### PYTHON RESERVED WORDS - 
* if a kid going to school what he/she will learn A,B,C - - - -Z then she will learn A - APPLE, B -BALL, C - CAT. (APPLE,BALL,CAT - Reserved word in english) 
* Apple is reserved for the fruit, Ball ==> play, Cat ==> Animal // (Dictionary uncountable reserved words is there).. This type of words are called Reserved word
* In any programming language there is a reserved word are there we gonna learn only python Reserved

* python reserved are => (35 RESERVED WORDS) If you learn 35 reserved words then python is complete
* all reserved words have some meaning & functionality 
* Learning python is nothing but learing all this functionality

**35 RESERVED WORDS---
* True, False, None ==> Represent Boolean data types   
* and, or, not, is ==> Represent the operators
* if, else, elif ==> Represent the statement   (# python switch,do..while statament is not available)
* while, for, break, continue, return, in, yield ==> Represent the loop concept
* try, except, finally, raise, assert ==> Represent for functionallity
* import,from,as,class,def,pass,global,nonlocal,lambda,del,with==>Represent the class,method,function

**NOTES --  *35 RESERVED WORDS ARE (ALPHABET) // *EXCEPT (True,False,None)

In [ ]:
#a = True # hash is used for comment
a = true
a

In [ ]:
b = None
#b = none
b

In [25]:
c = False
#c = false
c

False

In [26]:
# How to remembr all keywords --- (Interview questions)
# KEYWORD is the module run from IMPORT class

import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [27]:
# write a coding to create index of these keywords --- IMP ---

import pandas as pd # pandas is the module to create a dataframe
df34 = pd.DataFrame(keyword.kwlist)
df34

# Always remember python Index begins with '0'

# ================= RESERVED WORDS COMPLETED ===============================

                 0
0            False
1             None
2             True
3   __peg_parser__
4              and
5               as
6           assert
7            async
8            await
9            break
10           class
11        continue
12             def
13             del
14            elif
15            else
16          except
17         finally
18             for
19            from
20          global
21              if
22          import
23              in
24              is
25          lambda
26        nonlocal
27             not
28              or
29            pass
30           raise
31          return
32             try
33           while
34            with
35           yield

### PYTHON DATA TYPES // (14) - INBUILD DATA TYPES - 
1>int
2>float
3>complex
4>bool
5>str
6>bytes
7>bytearray
8>range
9>list
10>tuple
11>set
12>frozenset
13>dict
14>None

* python provides some inbuild function like -- <1> print() <2> type() <3> id()

* int,float,complex,boolen is not represent object # Tricky question
* except these 4 everythig object # Tricky question

*NOTE - [**In python all 14 data types are object only]
*Thats why we called as python is object oriented program

#### 'hello world'

In [28]:
# What is other inbuild datatype available except 14 datatypes-

a = 10

#print('a')       # To find the variable 
#print(a)         # To find the value of variable
#type(a) # To find the data type
id(a)            # To find an address of an object

4333988432

In [29]:
b = 20
id(b)

4333988752

In [30]:
c = 20
id(c)

4333988752

In [31]:
a = 10
a

10

In [32]:
a = 10
a
id(a)

4333988432

#### int datatypes - 
* INT Datatypes - The No.without decimal point are called as INTEGRAL DATATYPES
*int datatype how many ways represent values in 3ways - 

2> Binary form --- (Base-2) -- (0,1)
3> Octal form --- (Base-8) -- (0,7)

In [33]:

a = 4809
a

4809

In [34]:
#2.Binary form(Base 2)
a = 1111   # value is declared
#b = 0b1111 # Now pvm convert value to binary value
#b
a

1111

In [35]:
b = 0b1111 # Now pvm convert value to binary value
b

15

In [36]:
#3. Octal form(Base 8)
#a = 111 # Value is declared
b = 0o111 # Now pvm covert value to octal value
b
#a

73

In [37]:
# final summary of INTEGRAL DATATYPES 
a = 10
b = 0b10
c = 0o10
c

8

In [38]:
A = 78
A

78

#### float datatypes - 
*employee sal - 5676.76
*diesel price - 67.25
* These values are not integral value this is called as decimal value
* Floating datatype you cannot declare Binary,Octal & Hexadecimal because  python enterpretur not accept that
* In our schools we learn about EXPONTIAL form -(1.2e3) this you can find in   float datatypes & only letter 'e' can allowed

In [39]:
# float datatypes - 
#b = 4567.89
#print(type(b))
#type(b)
#b
#d = 0o4567.89 # This is octal
e = 0b4567.89 # This is binary
#
#d
e
#b

SyntaxError: invalid digit '4' in binary literal (3205069641.py, line 7)

In [ ]:
b = 67.9
b

In [ ]:
f = 1e2 # only 'e' letter is allowed
#g = 2.4a3 # except 'E' you can't execute any programme
#g
f

In [ ]:
e = 5.2e2
e

#### complex datatypes - 
* Complex datatype format are:-(a+bj) (a--Real part/b--Imaginary part/j^2=-1)
* j is the compulsory value & there is no other value accepted in complex type
* j^2 = -1 
* Value of j is (j square is equal to -1) (j =(square root of -1) is equal to (j^2 = -1) pure mathemetics so if you want to develop mathmetic 
  application or scientific application then python is the best option
* Real type any type base can be accepted but imaginary part allow only integer

In [ ]:
x = 30+40j #assigned int value in real part & imaginary part
type(x)

In [ ]:
y = 20.5+2.3j #assigned float value in real part & imaginary part
z = 30.8+20j  #assigned float value in real part & real value in imaginary part
y + z
y*z
y/z

In [ ]:
#c = 15+0o111j # Imaginary part cannot be binary,octal
d = 0b111+15j # Real part can be binary,octal
#c
d

In [ ]:
a1 = 20+30j
b1 = 40+50j
a1+b1
a1-b1
a1*b1
a1/b1

In [ ]:
a = 2+3j
type(a)

In [ ]:
a1 = 10+20j  # I want to know what the value of real part & imaginary part
a1.real   # complex data type will use in mathmetic concept not that required for programming language
#a1.imaginary
a1.imag

#### bool datatypes - 
* True/False - (only allowed boolean values)
* False value -- 0 (internally memory level conversion happened)
* True value -- 1

In [ ]:
a = 10
b = 20
c = a<b
c

In [ ]:
#True+True
#True*True
#True-True
#True/True
#False+False
#False+True
True/False

#### str datatypes - 
* enclosed in '' (single quote) // "" (double quote)
* singa line we assined as '' // ""
* multiline we assigned as ("' "')
* single & double quotes are allowed only for single line
* triple quotes are allowed for multi comments & also you can declare triple quotes in single line as well

In [ ]:
naresh = 'good for datascience'
#type(careerera)#' single quotes'
naresh
type(naresh)

In [ ]:
naresh = "good for datascience"
#type(careerera)#' single quotes'
naresh
type(naresh)

In [ ]:
naresh = '''good for datascience'''
#type(careerera)#' single quotes'
naresh
#type(naresh)

In [ ]:
Amx = '''good for 
 datascience'''

Amx

In [ ]:
a = '''hallo
how 
are 
you'''

a
#type(a) # SINLE & DOUBLE QUOTES ARE EQUAL

In [ ]:
b = '''hello 
    hi'''

In [ ]:
# single quote & double both are equl
# ''' multiline comment'''

In [ ]:
b = '''('hallo' 
  'how'
    'are you')'''
    
    # ''' ''' ==> triple quotes are used for multiline comments
b
    # is for commenting

In [ ]:
x = 'amx'
y = "god"
print(type(x))
print(type(y))
z = '''  hi welcome to 
        datascience 
    academy'''
s = '''datascience" academy'''
z
print(type(z)) 
print(type(s))

In [ ]:
x

#### Type casting or Type conversion - 
int() -- float() -- complex() -- bool() -- str()

In [ ]:
# int(): - you can convert from other type to int type except complex 

int(10.123)  # float to int
#int(10+20j) # cannot convert from complex to int
int(True)     # Bool to int
int(False)   # Boll to int
#int('10')    # string to int
#int('amx') # amx is a character

In [40]:
# float(): -- convert from any type to float except complex

float(10)      # int to float
#float(10+20j)  # cannot convert complex to float
float(False)     # boolean to float
#float('11')    # string to float

0.0

In [41]:
# complex(): -- covert any other type to complex type
# --- this only for 1 argument ------

complex(10)    # int to complex
complex(10,20) # int to complex
complex(10.5)  # float to complex
complex(True)  # Bool to complex
complex(False) # Bool to complex
complex('10')  # string to complex 

# ----- Now we will check for 2 arguments ------
complex(10,20)   # int to complex
complex(10,20.5) # float to complex
complex('10')    # string to complex, you cannot assign 2 argument

(10+0j)

In [42]:
# Bool()  - (0 means false // 1 means non zero)

bool(0)      # int to bool
bool(10)     # int to bool
bool(0.0)    # float to bool
bool(0.01)   # float to bool 
bool(10+20j) # complext to bool
bool(0+0j)   # complex to bool
bool(" ")      # string to bool(if argument is empty string then false)
bool('abc')# string to bool(if argument is not empty string then true)
bool(' ')    # space is also treated as character so non empty string

True

In [43]:
# str(): --- any type is possible in string 

str(10)     # int to string
str(10.50)  # float to string
str(True)   # bool to string
str(10+20j) # complex to string

'(10+20j)'

* Fundamental Datatypes are which we covered so far & also we saw how to work on the type casting from one data type to other - 
- We cannot convert our complex data types to int and float
 
 int()
 float()
 complex()
 bool()
 str()

-------------

#### Fundamental datatypes vs Immutability -- 

* All fundamental datatypes are immutable. what is immutable - once we crate the object we are not allow to perform any 
  changes in that object . we can say that (non-changeable behaviour)
* why immutability concept is required -- if you look at below exampl - how many object we created only 1 object which is 10
  but how many reference we assinged -- 3 reference indicates to 1 object
* bigest advantage of this approch is memory utilization & performance is also improved (pvm do not want to wsat memory)
* you can create object with different name, but you cannot create object with same name

In [44]:
x2 = 10
y2 = 10
z2 = 20 
print(id(x2))
print(id(y2))
print(id(z2))

4333988432
4333988432
4333988752

In [45]:
print(x2 is z2)
print(x2 is y2)
print(y2 is z2)

False
True
False

* Mutable -- Changeable-- once you create an object 
* Immutable -- Non-changeable
* Fundamental data types are IMMUTABLE but (LIST is mutable)
* Everything in python is an object

**This concept reusing same object such type of concept is define following ranges -
1> int ----> 0 to 256
2> bool ---> Always 
3> str ----> Always
4> float & complex ----> Can not performe the reusable concept

In [46]:
x = 10 
y = 10
print(id(x))
print(id(y))

4333988432
4333988432

In [47]:
id(y)

4333988432

In [48]:
# is operator
x = 20 # x,y = 20
y = 20
#x is y
y is x

True

In [49]:
x = True
y = True
z = False
x is y
y is z
z is x
z is y

False

## ------ END OF THE TODAYS SESSION ----- ##

-------

### PYTHON DATA STRUCTURE ( TASK - 2)

* LIST DATASTRUCTURE - 

* Insertation order is preserved & duplicates are allowed
* if you want to represent group of values as a singel entity where insertation   order is preserved and duplicates are allowed   then we can go for LIST datatype
* what is the meaning of insertaion order is preserved
* you can increase the least object or you can decrease the list object 
* list you can use index operator and also slice operator

In [50]:
l = [] 
type(l) 
print(type(l))

<class 'list'>

In [51]:
l

[]

In [52]:
#Now i want to add an object

l.append(10) 
l.append(20)
l.append(30)
l.append(10)

In [53]:
l

[10, 20, 30, 10]

In [54]:
print(l)

[10, 20, 30, 10]

In [55]:
l

[10, 20, 30, 10]

In [56]:
#hetrogenrous objects are allowed or not
#java people came and asking null is availabe or not, such type of stories are not available
# list objects are growable & this is just an introduction session & we will see indetails

l.append('amx') 
l.append(8.0)
l.append(None)
l

[10, 20, 30, 10, 'amx', 8.0, None]

In [57]:
l

[10, 20, 30, 10, 'amx', 8.0, None]

In [58]:
l.remove('amx') #delete the object from list

In [59]:
l

[10, 20, 30, 10, 8.0, None]

In [60]:
l[4]

8.0

In [61]:
l[3]

10

In [62]:
l

[10, 20, 30, 10, 8.0, None]

In [63]:
l[8]

IndexError: list index out of range

In [ ]:
l

In [ ]:
l[-1]

In [ ]:
l[-2]

In [ ]:
l

In [ ]:
# Let me introduce to slicing operator

l[:]

In [ ]:
l

In [ ]:
l[2:7] # n-1 formula

In [ ]:
l

In [ ]:
l[2:6]

In [ ]:
l

In [ ]:
l[2:5]

In [ ]:
l

In [ ]:
l[2:4]

In [ ]:
l

In [ ]:
l[0]

In [ ]:
l[0] = 1000

In [ ]:
l

In [ ]:
l # list is mutable

In [ ]:
l[:4]

In [ ]:
l

In [ ]:
l[0] = 20
l[0]

In [ ]:
l

In [ ]:
l # list is mutable

In [ ]:
l[2:-2]

In [ ]:
l[:]

In [ ]:

l

In [ ]:
l[1] # : --> (SLICING OPERATOR)

In [ ]:
l

In [ ]:
l[:] #display all the value from  2nd index onwards

In [ ]:
l[-1] # output is none hear

In [ ]:
l[-2]

In [ ]:
l

In [ ]:
l[:] # : --> this will give us total values which we passed in the object

In [ ]:
l[::-1] # reverse order

In [ ]:
l

In [ ]:
l[-2:2]  # n-1 ( 4th )

In [ ]:
#l.remove(None)

In [ ]:
#l.remove('amxwam')

In [ ]:
l

In [ ]:
l[-1]

In [ ]:
l[:-3]

In [ ]:
l

In [ ]:
l[2]

In [ ]:
l

In [ ]:
l[:-1]

* Finaly Summary of LIST DATATYPES -- 
1> order is important
2> duplicates are allowed
3> heterogenous are allowed i.e. different type is allowed
4> growable in nature & you can deleat or insert an object in the list
5> list is datastructure
6> values are enclose in square bracket[]
7> List is mutable
8> index concept applicated in list datatypes +ve- left to right,// -ve- right to left
9> slicin concept is also available

**so far we covered fundamental datatypes - int , float, comlex, str, bool
** we do covered type casting function , how to convert from one type to other
**we covered one datastructured called list

#### tuple concept 
* Tuple is immutable & List is mutable
* Tuple can be represent as ()
* once we create tuple we cannot modify 
* order & duplicates are allowed
* heterogenous are allowed i.e. different type is allowed
* index concept applicated in list datatypes +ve- left to right,// -ve- right 
* slicin concept is also available

In [ ]:
l = [10,20,30,40] #list datastructure
t = (10,20,30,40) #tuple datastructure

In [ ]:
l[:]

In [ ]:
t1 = (10,'amx',True, 5.8, 10)
t1

In [ ]:
t1[0]

In [ ]:
t1[0] = 20 # tuple is immutable

In [ ]:
t1

In [ ]:
t1[0] = 20 # tuple immutable ( not changable) e.g - kyc / adhar

In [ ]:
t1

In [ ]:
t1[0:3]  # [[ IF YOU RIGHT SIDE THE CALCULATION WILL (Nth INDEX-1) (3-1) == UPTO 2ND INDEX ]]

In [ ]:
t1[0:4]

In [ ]:
t1

In [ ]:
t

In [ ]:
t[0] # Oth index

In [ ]:
l #difference between list and tuple

In [ ]:
l.append(50)

In [ ]:
l

In [ ]:
l[0]

In [ ]:
l[0] = 30 #mutable (change)

In [ ]:
l

In [ ]:
l.add(60)

In [ ]:
l[:10]

In [ ]:
l

In [ ]:
l[:-2]

In [ ]:
t

In [ ]:
t[0]

In [ ]:
t[0]= 20 
# cannot change any value once you decleare cuz tuple is immutable

In [ ]:
t1

In [ ]:
t

In [ ]:
t.append(50)

In [ ]:
t.add(50)

In [ ]:
t.remove(30)

In [ ]:
t

In [ ]:
t = t*3
t

In [ ]:
t[0] = 20

In [ ]:
t1

In [ ]:
t2 = t1 * 3 #in this case content has not changed but same t content repeted twice

In [ ]:
t2

In [ ]:
t3 = (10,20,[2,6])   #is this valid one & u can declare list inside the tuple

In [ ]:
t3

In [ ]:
colors = "red", "green", "blue"
colors
rev = colors[::-1] 
rev

In [ ]:
colors = "red", "green", "blue"
colors
rev = colors[:-2] 
rev

In [ ]:
rev = colors[::-1] # reversing order is allowed
rev

* in python which is the most common data types - range()
* range() datatypes represent a sequence of values
* always immutable
* range() datatypes we have multiple forms lets see one by one
* List insertation order is preserved but set insertation is not preserved

In [ ]:
# FORM-1: range(10) -- represents values from 0 to 9 (python index start from 0)

r = range(20) 
type(r)  
r

In [ ]:
range(10.0, 11.5) # you cannot declare float argument

In [ ]:
r

In [ ]:
# if i need value for 10 values 

for i in r: print(i)

In [ ]:
r[4]

In [ ]:
r[0]

In [ ]:
r[4]

In [ ]:
r[0:3]

In [ ]:


# FORM-1 concept we passed only one argument

**FORM:2 (if we passed 2 arguments)

In [64]:
# i want to generate a sequence of no fro 0 to 99

range(100)

range(0, 100)

In [65]:
# i want to represent number from 10 to 29 then we should not use above one

range(10,30) # repreent no. from 10 to 29 but not 100 & we passed 2 arguments

range(10, 30)

**Form:3 (if we passed 3 arguments)

In [66]:
range(50)

range(0, 50)

In [67]:
range(10,50) # 5 state from 10 to 50 print the output with 5 steps

range(10, 50)

In [68]:
range(10,50,5) # 5 state from 10 to 50 print the output with 5 steps

range(10, 50, 5)

In [69]:
range(10,50,5,6)

TypeError: range expected at most 3 arguments, got 4

In [70]:
range(10,50,5)

range(10, 50, 5)

In [71]:
for i in range(10,20,5):  
    print(i)

10
15

In [ ]:
range(10,20,5,6) #you cannot declare 4 aruguments once becusae max you can assign for 3 arguments or 3 parameter

**set datatype**

Difference between list & set --
* My requirment of the programme is -- Represent group of object as single entity where duplicates are allowed and order is important then we go for LIST
* I dont want dupliacated, & order also not important then we will go for SET
* LIST are represent as [] && SET are represent as {}
* SET object does not support indexing or slicing
* insertation order are not preserved,order & duplicates are not allowed
* index concept are not allowed , hetrogeneuous object are allowed
* set is mutable
* add & remove method is use for SET but append method is used only for LIST

In [ ]:
s = {10,20,30,10,20,30,} # is it allowed or not we will check

In [ ]:
s #duplicates are not allowed

In [ ]:
s1 = {30,10,20,10,'NARESH',5.0,True} 
s1

In [ ]:
s1[1:4]

In [ ]:
s

In [ ]:
s[:]   #set object does not support indexing or slicing or subscirptive

In [ ]:
s

In [ ]:
s[1:]

In [ ]:
s

In [ ]:
s.append(True)  #mutable
s

In [ ]:
s.add('b') 
s

In [ ]:
s.append('c')

In [ ]:
s

In [ ]:
s.remove('b') #append function is applicable for list not for the set

In [ ]:
s

In [ ]:
s[0] = 20

In [ ]:
s1

In [ ]:
# frozenset exactly same as set but one criteria is immutable

In [ ]:
s2 = {10,20,30,40}
s2

In [ ]:
fs = frozenset(s2)
fs

In [ ]:
type(fs)

In [ ]:
#fs.add(50) #add, remove such type of concept are not applicable in frozenset
fs.remove(10)

In [ ]:
fs.add(40)

**DICTIONARY DATATYPES (dict)

* oxford dictionary -- in oxford dictionary words along with meaning is there
* i can say that key:values
* in the case of list,tuple,set,range,set,frozenset we represent individually & all objects are individually object right guys.
* i want to represent as group of object as pair example -- (rollno:name, fruits:price, mobileno:name)
* dict is very important, very special category compare to all category
* duplicate keys are not allowed but values can be duplicate
* dict are represent as {}// : you can assined with given operator
* keys & values both can be hetrogeneous
* No such type of rule that all keys are integer types & values are string type
* keys & values can any type of object

In [ ]:
d = {100:'amx', 200:'shiv', 300:'nar'}
d

In [ ]:
type(d)

In [ ]:
# i want to create an empty dictionary, now tell me is that set or dict ???

d1 = {}  # always treated as dict
d1
type(d1)

In [ ]:
print(type(d1))

In [ ]:
# you may ask questiong how to create empty set 

s = set()  
type(s)

In [ ]:
print(type(s))

In [ ]:
# i created empty dict

d2 = {} # i want to add some element, so dict is mutable

In [ ]:
d2[100] = 'Naresh' # this is the metod to add an object in dictinary & no add,remove function are applicable in dict

In [ ]:
d2[200] = 'amx'

In [ ]:
d2[300] = 'ABC'

In [ ]:
d2

In [ ]:
d2[True] = 'yyy'
d2

In [ ]:
d2 # duplicates are not allowed but values are changes

In [ ]:
del d2[100] # how to remove key & values in dict

In [ ]:
d2

------

## Datatypes & Datastructures are completed ##

In [ ]:
a = b = c = d = 4
print(id(a))
print(id(b))
print(id(c))
print(id(d))

In [ ]:
print(id(a) is id(b))

In [ ]:
c is d

In [72]:
a = 5
b = 6
a + b

11

In [73]:
a

5

In [74]:
A

78